
body{
    font-family: 'Bebas Neue', cursive;
}

nav img{
    width: 291px;
}

.custom-nav{
    color: #3C3C3C;
}

.logo-img{
    margin-right: 400px;
}

@media (max-width: 600px){
    .logo-img{
        margin-right: 0px;
        
    }

   
}

@media (max-width: 600px){
    .buy-now-responsive{
        color: white;
        padding: 25px 45px;
        border-radius: 8px;
        background-color: #A4BC46;
        text-decoration: none;
        border: none;
        width: 190px;
        height: 80px;
        font-size: 16;
       
    }
}

.buy-now{
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    background-color: #A4BC46;
    text-decoration: none;
    border: none;

   
}




.button-div{
    width: 450px;
    margin-top: 80px;
}
.image-div img{
    width: 440px;
}
.image-div{
    width: 450px;
    
}


.button-div{
    float: left;
}

.image-div{
    float: right;
    margin-right: 140px;
}

@media (max-width: 600px){
    .image-div{
        float: right;
        margin-right: 0px;
    }
}

.second-part{
    height: 600px;
}

.woman-jacket img{
    width: 293px;
    height: 350px;
    margin-left: 30px;
}

.card-btn{
    padding-left: 0;
}

.woman-jacket{
    height: 650px;
    margin-bottom: 60px;
}

.man-jacket img{
    width: 293px;
    height: 350px;
    margin-left: 30px;
}

.cartoon-logo{
    width: 599px;
}


.last-logo{

    margin-right: 10%;
}